<section id="about" data-id="-195" class="hidden">
  <p>
    I started creating static websites for my busniess and enjoyed creating them so much that I continued to learn.
  </p>
  <p>
    I have experience in Ruby on Rails, Javascript, Backbone, node, SQL, HTML, and CSS. I have built numerous projects including a KickStarter clone built in Rails and Backbone, and the game Asteroids built in canvas.
  </p>
  <p>
    In my former occupations I worked as Operations Manager for chain of mattress stores and later as Owner Operater of Four Corners Funiture in Seattle, Wa.
  </p>

  <%= render "social" %>
</section>
