
<div id="game-window" class="hidden">

  <div id="game-container">
    <div>
      <div>
        <p>
          Asteroids!
        </p>
      </div>
    <figure for="game-canvas">&times;</figure>
    <canvas id="game-canvas"></canvas>
    <div id="explanation">
      <p>
        Use arrow keys to navigate and the space bar to fire
      </p>
    </div>
  </div>
  </div>
</div>
