<section id="intro" data-id="-100" class="">
  <!-- <h3>summery</h3> -->

  <p>
    Hi! I'm web developer in the New York area with experience in Ruby on Rails and Javascript. I have a background in retail furniture and visual art. Take a look at my coding projects or browse my resume. I would love to hear from you so drop me a line.
  </p>


</section>
