<section id="head-window">
    <ul id="head-nav">
      <li id="nav-header">NIL</li>
      <li id="nav-header">Intro</li>
      <li id="nav-header">About Me</li>
      <li id="nav-header">Projects</li>
      <li id="nav-header">Contact</li>
      <li id="nav-header">Resume</li>
    </ul>
  </section>
  <div id="all-content">

<div id="face"></div>
<div id="social">
  <div class="list">
    <a href="https://github.com/zakstal" class="list-item"><%= image_tag("github.png") %></a>
    <a href="mailto:zakstal@gmail.com" class="list-item"><%= image_tag("mail_small.png") %></a>
    <a href="https://www.linkedin.com/pub/zachary-stallings/a8/4b3/384/" class="list-item"><%= image_tag("linkedin.png") %></a>
  </div>
</div>
<ul class="side-nav" id="side-navigation">
  <li class="side-nav-li" id="intro-tab" data-id="intro">Intro</li>
  <li class="side-nav-li" id="about-tab" data-id="about">About</li>
  <li class="side-nav-li" id="project-tab" data-id="projects">Projects</li>
  <li class="side-nav-li resume-link" id="resume-tab" data-id="resume">Resume</li>
  <li class="side-nav-li" id="contact-tab" data-id="contact">Contact</li>

</ul>
