<section id="projects" class="hidden" data-id="-285">
  <h2>Projects</h2>
  <p>
      Here are a few projects I have worked on. Hover over the image to see a short clip of the project in action.
  </p>

  <div class="project">
    <div src="" class="project-image"><%= video_tag("kickstarter.mov") %></div>
  <div class="live-git">
      <a href="https://github.com/zakstal/KickStarterClone"><h2>git</h2></a>|<a href="http://ksclone.herokuapp.com/"><h2>live</h2></a>
    </div>
    <p>A clone of one of my favorite websites kickstarter. You can create a campaign and pledge to you favorite projects. </p>
  </div>

  <div class="project">
    <div src="" class="project-image" id="asteroids"><%= video_tag("asteroids.mov") %></div>
    <div class="live-git">
      <a href="https://github.com/zakstal/asteroid-game"><h2>git</h2></a>|<a href="#" id="asteroids-link"><h2>live</h2></a>
    </div>
    <p>Asteroids! This project was created with canvas. Fly around space destroying asteroids. Just dont get crushed!</p>
  </div>

  <div class="project">
    <div src="" class="project-image"><%= video_tag("chess.mov") %></div>
    <div class="live-git">
      <a href="https://github.com/zakstal/Chess"><h2>git</h2></a>
    </div>
    <p>Chess. Play against an opponent, make valid moves and checkmate the king. To play, clone the repo, navigate to the file in your command line, and open enter ruby Game.rb.</p>
  </div>

  <%= render "social" %>

</section>
