<section id="projects" class="hidden" data-id="-300">
  <h3>projects</h3>
  <p>
      Here are a few projects I have worked on. Hover over the image to see a short clip of the project in action
  </p>

  <div class="project">
    <div src="" class="project-image"><a href="http://ksclone.herokuapp.com/"><%= video_tag("kickstarter.mov") %></a></div>
  <div class="live-git">
      <a href="https://github.com/zakstal/KickStarterClone"><h2>git</h2></a>|<a href="http://ksclone.herokuapp.com/"><h2>live</h2></a>
    </div>
    <p>A clone of one of my favorite websites kickstarter. You can create a campaign and pledge to you favorite projects. </p>
  </div>

  <div class="project">
    <div src="" class="project-image"><%= video_tag("asteroids.mov") %></div>
    <div class="live-git">
      <a href="https://github.com/zakstal/asteroid-game"><h2>git</h2></a>|<a href="#" id="asteroids-link"><h2>live</h2></a>
    </div>
    <p>Asteroids! This project was created with canvas. Fly around space destroying asteroids. Just dont get crushed!</p>
  </div>

  <div class="project">
    <div src="" class="project-image"></div>
    <div class="live-git">
      <a href="#"><h2>git</h2></a>|<a href="#"><h2>live</h2></a>
    </div>
    <p>this is a project. its the best project. its bette than these other projects</p>
  </div>

  <%= render "social" %>

</section>
