<section id="projects" class="hidden" data-id="-300">
  <h3>projects</h3>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <div class="project">
    <div src="" class="project-image"></div>
    <p>A clone of one of my favorite websites kickstarter. You can create a campaign and pledge to you favorite projects. </p>
  </div>
  <div class="project">
    <div src="" class="project-image" id="asteroids"></div>
    <p>Asteroids! This project was created with canvas. Fly around space destroying asteroids. Just dont get crushed!</p>
  </div>
  <div class="project">
    <div src="" class="project-image"></div>
    <p>this is a project. its the best project. its bette than these other projects</p>
  </div>
  <div class="project">
    <div src="" class="project-image"></div>
    <p>this is a project. its the best project. its bette than these other projects</p>
  </div>

</section>
