<section id="resume" class="hidden" data-id="<%= @videotype[1] == "moz" ? -485 :-470 %>">
  <p>
    please click to view my resume
  </p>
  <h2 class="resume-link">Resume</h2>
  <a href="https://docs.google.com/document/d/1TeuIacgTXeZk8xGcJuSvss-Htjzyocc_BlU_2Jp3zcI/export?format=pdf"><h3>Download my resume</h3></a>
</section>
