
<div id="resume-window" class="hidden">

  <div id="resume-container">
    <div>
      <a id="download-my-resume" href="https://docs.google.com/document/d/1TeuIacgTXeZk8xGcJuSvss-Htjzyocc_BlU_2Jp3zcI/export?format=pdf"><h3>Download my resume</h3></a>
    <div id="resume-close" for="resume-show">&times;</div>
    <div id="resume-show">
      <iframe src="https://docs.google.com/document/d/1TeuIacgTXeZk8xGcJuSvss-Htjzyocc_BlU_2Jp3zcI/pub?embedded=true"></iframe>
    </div>


  </div>
  </div>
</div>
