<div id="large-icon-contact group">
  <a href="https://github.com/zakstal" class="large-icon"><%= image_tag("git_big_blue.png") %></a>
  <a href="https://www.linkedin.com/pub/zachary-stallings/a8/4b3/384/" class="large-icon"><%= image_tag("in_big_blue.png") %></a>
  <a href="mailto:zakstal@gmail.com" class="large-icon"><%= image_tag("mail_big_blue.png") %></a>
</div>
