
<div id="container-all">


<div id="game-window" class="hidden">

  <div id="game-container">
    <div>
      <div>
        <p>
          Asteroids!
        </p>
      </div>
    <figure for="game-canvas">&times;</figure>
    <canvas id="game-canvas"></canvas>
    <div id="explanation">
      <p>
        Use arrow keys to navigate and the space bar to fire
      </p>
    </div>
  </div>
  </div>
</div>
<main>

  <div id="text-tab-click">

  </div>

  <div id="text-window">
    <div id="text-frame">

    </div>
  </div>
  <form id="text-form">


  <input type="text" name="some_name" class="text-message-hide" id="text-message-out">
  <input type="submit" class="text-message-submit-hide" id="text-message-submit" name="some_name" value="">
  </form>
  <div id="text-tab" class="text-tab-left group">

  </div>



  <div id="text-me">
    <span id="c1" data-id="off" class="c1 text-me-style">T</span>
    <span id="c2" class="text-me-style c2">E</span>
    <span id="c3" class="text-me-style c3">X</span>
    <span id="c4" class="text-me-style c4">T</span>
    <!-- <span id="c5" class="text-me-style c5"> </span> -->
    <span id="c6" class="text-me-style c6">M</span>
    <span id="c7" class="text-me-style c7">E</span>
  </div>
  <div id="buffer">



  </div>
    <section id="head-window">
        <ul id="head-nav">
          <li id="nav-header">NIL</li>
          <li id="nav-header">Intro</li>
          <li id="nav-header">About Me</li>
          <li id="nav-header">Projects</li>
          <li id="nav-header">Contact</li>
        </ul>
      </section>
      <div id="all-content">

    <div id="face"></div>
    <div id="social">
      <div class="list">
        <div class="list-item"></div>
        <div class="list-item"></div>
        <div class="list-item"></div>
      </div>
    </div>
    <ul class="side-nav" id="side-navigation">
      <li class="side-nav-li" id="intro-tab" data-id="intro">Intro</li>
      <li class="side-nav-li" id="about-tab" data-id="about">About</li>
      <li class="side-nav-li" id="project-tab" data-id="projects">Projects</li>
      <li class="side-nav-li" id="Contact-tab" data-id="contact">Contact</li>
    </ul>



    <div id="title">
      <h1>Zachary Stallings</h1>
    </div>

    <%= render "intro" %>

    <%= render "about" %>

    <%= render "projects" %>

  </div>
</main>

</div>

<script charset="utf-8">
  $(document).ready(function() {

    var thisChat = {
      isChatOn: false,
      chat: []
    }

    var address = "http://www.zakstal.com"//"http://zakwebsite.herokuapp.com" //"http://localhost:3000"
    var that = this

    setTimeout(function() {
      $('#notice').removeClass('notice')
      $('#notice').addClass('notice-hide')
    },3000)

    this.currentTab = $('#intro')
    var that = this;
    $('.side-nav').on('click', function(event) {

      var tabContent = $(event.target).data('id')

      that.currentTab.addClass("hidden")
      that.currentTab = $('#' + tabContent)
      that.currentTab.removeClass("hidden")

      var headNavLocation = that.currentTab.data('id');

      $('#head-nav').css('top', headNavLocation)


    });

    $('#side-navigation').css('left', -134 + "px")
    $(window).scroll(function() {
       if($(window).scrollTop() > 200) {
         var bodyWidth = $('body').width()
         var mainWidth = $('main').width()

         var leftMainMargin = ((bodyWidth - mainWidth)/2 )
        //  console.log(mainWidth, bodyWidth, leftMainMargin)
         var leftMainMarginPercent = ((leftMainMargin/bodyWidth) * 100)/2
         $('#side-navigation').removeClass('side-nav')
         $('#side-navigation').addClass('side-nav-fixed')
         $('#side-navigation').css('left', Math.ceil((leftMainMargin - 127)) + "px")
       }

       if ($(window).scrollTop() < 200) {
         $('#side-navigation').removeClass('side-nav-fixed')
         $('#side-navigation').addClass('side-nav')
         $('#side-navigation').css('left', -134 + "px")
       }
    });




    var moveLetters = function (elementNum, classNumStart, interval) {
          setTimeout(function () {

            $('#c' + elementNum).toggleClass('c' + (classNumStart ))
            $('#c' + elementNum).toggleClass('c' + (classNumStart + 1))
          },(interval));
      }

      var moveLettersBack = function (elementNum, classNumStart, interval) {
            setTimeout(function () {
              $('#c' + elementNum).toggleClass('c' + (classNumStart - 1))
              $('#c' + elementNum).toggleClass('c' + (classNumStart ))
            },(interval));
        }

      var moveAllLetters = function ( numberOfPositions, interval) {
          for (var i = 0; i <= numberOfPositions; i++) {
            moveLetters(1,i + 1, i * interval)
            moveLetters(2,i + 2, i * interval)
            moveLetters(3,i + 3, i * interval)
            moveLetters(4,i + 4, i * interval)
            moveLetters(5,i + 5, i * interval)
            moveLetters(6,i + 6, i * interval)
            moveLetters(7,i + 7, i * interval)
          }
      }

      var moveAllLettersBack = function ( numberOfPositions, interval) {
          var j = 0
          for (var i = numberOfPositions; i > 0; i--) {
            moveLettersBack(1,i + 1, j * interval)
            moveLettersBack(2,i + 2, j * interval)
            moveLettersBack(3,i + 3, j * interval)
            moveLettersBack(4,i + 4, j * interval)
            moveLettersBack(5,i + 5, j * interval)
            moveLettersBack(6,i + 6, j * interval)
            moveLettersBack(7,i + 7, j * interval)
            j++
          }
      }

      var checkIfInThiChat = function (arr) {
        console.log("in check")
        var unPostedMessages = []
        arr.forEach(function (message) {
            var index = thisChat.chat.indexOf(message.id)
            if (index === -1){
              if(message.from === 1) {
                thisChat.chat.push(message.id)
                unPostedMessages.push(message)
              }
            }
        });
        return unPostedMessages;
      }

      var getTextsFromDb = function () {
        setInterval(function () {

            if (thisChat.isChatOn) {
              console.log('receive')
              $.ajax({
                  type: "GET",
                  url: address + "/chats/all",
                  success: function (resp) {
                    // console.log("reset", resp[0].chat, "response")


                    checkIfInThiChat(resp).forEach(function(message) {
                      $('#text-frame').prepend('<div class="message-from-box message-box" >' + message.chat + '<div class="bubble-tail-right"><div></div>');
                    });
                  }
              });
            }
          },3000)

      }


      // $.ajax({
      //   type: "POST",
      //   url: address + "/chats/send_out",
      //   data: { 'body':"someone is looking at your site" },
      //   success: function (resp) {
      //     console.log("sent", resp)
      //   }
      // });



      this.isChatOn = false


      var toggleIsChatOn = function () {
        if (!thisChat.isChatOn){
          thisChat.isChatOn = true
          console.log('chat is on',thisChat.isChatOn)

          getTextsFromDb()

          $.ajax({
            type: 'POST',
            url: address + "/chats/destroy_all_chats",
            success: function (res) {
              console.log('chats deleted')
            }
          });

        } else {
          thisChat.isChatOn = false
          console.log('chat is off', thisChat.isChatOn)


        }
      }

      console.log($('#c1').css('left'), "css value of c1")
      var moveLettersBackAndForth = function () {

        $('#text-tab-click').on('click', function () {
          toggleIsChatOn();
          $('#text-frame').html("")

          $('#text-tab').toggleClass('text-tab-left');
          $('#text-tab').toggleClass('text-tab-right');
          $('#text-message-out').toggleClass('text-message-hide');
          $('#text-message-out').toggleClass('text-message-show');

          if ($('#text-message-submit').hasClass('text-message-submit-show')) {
            $('#text-message-submit').toggleClass('text-message-submit-hide');
            $('#text-message-submit').toggleClass('text-message-submit-show');
          } else {
            setTimeout(function() {
              $('#text-message-submit').toggleClass('text-message-submit-hide');
                $('#text-message-submit').toggleClass('text-message-submit-show');
            }, 200);
          }


          setTimeout(function() {
              $('#text-message-out').focus();
          },200)

          var $c1 = $('#c1')

          if ($c1.data('id') === 'off') {
            moveAllLetters(4,50);
            $c1.data('id', 'on')
          } else {
            moveAllLettersBack(5,50)
            $c1.data('id', 'off')
          }

        });
      }




      moveLettersBackAndForth()


    $('#text-form').on('click','#text-message-submit', function (event) {
      console.log('here')
			event.preventDefault();
			var $words = $('#text-message-out');
			var $value = $words.val();
			$words.val("");
			$('#text-frame').prepend('<div class="message-to-box message-box" >' + $value + '<div class="bubble-tail-left"><div></div>')
			console.log($value,"here2",document.location.hostname);


  			$.ajax({
  				type: "POST",
  				url: address + "/chats/send_out",
  				data: { 'body':$value },
  				success: function (resp) {
  					console.log("sent", resp)


  				}
        });
			});
  });

  $('figure').on("click", function (event) {
    $('main').toggleClass('hidden')
    $('#game-window ').toggleClass('hidden')
  });

  $('#asteroids').on("click", function (event) {
    $('main').toggleClass('hidden')
    $('#game-window ').toggleClass('hidden')
  });

  var backgroundImage = "<%= asset_path('outer-space.jpg') %>";
  var canvasEl = document.getElementById("game-canvas");
  var canvasHeight = canvasEl.height = window.innerHeight;
  var canvasWidth = canvasEl.width = window.innerWidth;
  var ctx = canvasEl.getContext("2d");
  var ast = new Asteroids.GameView(ctx, canvasHeight, canvasWidth);
  var image = document.getElementById("image-back")
  ast.start(backgroundImage);


  $('.project-image').on("mouseover","video", function(event) {
    console.log(event.currentTarget, "moseover")
    event.currentTarget.play()

  })

  $('.project-image').on("mouseout","video", function(event) {
    console.log(event.currentTarget, "moseover")
    event.currentTarget.pause()

  })

</script>
