// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main, section, img, div, form, input, h1, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  display: block;
  font-family: sans-serif;
}

body {
  background: #abb;
  color: #333;
}

#face {
  z-index: 100;
  position: absolute;
  height: 150px;
  width: 150px;
  // background: blue;
  right: 100px;
  margin-top: -100px;
  border-radius: 100px;
  background: image-url("me_rainbow6.png") no-repeat center;
}

#social {
  position: absolute;
  height: 160px;
  width: 160px;
  background: #e45;
  right: 95px;
  margin-top: -105px;
  border-radius: 100px;
  transition: all .2s;
  // background: image-url("me_rainbow6.png") no-repeat center;
}

#face:hover + #social{
  width: 255px;
  right: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
}

#social:hover {
  width: 255px;
  right: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
}

.list {
  position: relative;
  right: 0;
  background: #333;
}


.list-item {
  position: absolute;
  // margin-left: 200px;
  right: 0px;
  width: 70px;
  height: 40px;

  // background: #fff;
}
.list-item:nth-child(1) {
  right: 20px;
  top: 15px;
  background: image-url("github.png") no-repeat center;
  width: 70px;
}

.list-item:nth-child(2) {
  right: 20px;
  top: 60px;
  background: image-url("facebook.png") no-repeat center;
  width: 70px;
}

.list-item:nth-child(3) {
  right: 20px;
  top: 105px;
  background: image-url("linkedin.png") no-repeat center;
  width: 70px;
}

#buffer {
  height: 70px;
}

main {
  margin-top: 100px;
  position: relative;
  margin: auto;
  width: 800px;
  background: transparent;

}

#nav-header {
  display: block;
  padding-left: 80px;
  font-size: 80px;
  color: #fff;
}

#head-nav {
  transition: .3s;
  position: relative;
  top: -100px;
}

#head-window {
  top: 60px;
  padding-bottom: 20px;
  overflow: hidden;
  height: 80px;
  width: 500px;
}


#all-content {
  // border: 1px solid #aaa;
  // border-right: 3px solid #e45;
  // border-left: 3px solid #e45;
  background: #fff;
  padding: 20px 30px;
  border-radius: 20px;
  margin-bottom: 300px;
}



#intro {
  // height: 100px;
  padding: 5px;
  // background: red;
  overflow: hidden;
  transition: .3s;
  min-height: 300px;
}

#about {
  padding: 5px;
  min-height: 300px;
}

#contact {
  padding: 5px;
  min-height: 300px;
}

#title > h1 {
  padding: 40px 10px 10px 60px;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
}

#projects {
  // height: 100px;
  padding: 5px;
  // background: blue;
  // overflow: hidden;
  min-height: 300px;
}

.project {
  display: inline-block;
  width: 300px;
}

.project-image {
  width: 200px;
  height: 150px;
  margin: auto;
}

.project p {
  margin: auto;
  padding: 10px;
  width: 200px;
}

form {
  padding: 5px;
  // background: red
}

.hidden {
  display: none;
}

#side-navigation{

}
.side-nav {
  top: 200px;
  position: absolute;
  // top: 2%;
  // left: 10%;
  list-style: none;
  left: -142px;
  color: #e45;
  text-align: right;
}

.side-nav-fixed {
  position: fixed;
  top: 3%;
  left: 11%;
  list-style: none;
  color: #e45;
  text-align: right;
}

.side-nav-li {
  // display: inline-block;
  padding: 15px;
  font-size: 20px;
  transition: .1s;
}

.side-nav-li:hover {
  // font-size: 25px;
  cursor: pointer;
  background: #e45;
  color: #fff;
  border-left-top-radius: 5px;
  border-left-bottom-radius: 5px;
}

#text-tab {
}


.text-tab-left {
  z-index: -10;
  border-top-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 154px;
  left: -16px;
  position: absolute;
  background: #e45;
  height: 55px;
  width: 70px;
}

.text-tab-right {
  z-index: -10;
  border-top-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 154px;
  left: -16px;
  position: absolute;
  background: #e45;
  height: 55px;
  width: 70px;
}



#text-tab-click + #text-tab:hover  {
  background: #e49;
}

#text-tab-click {

  z-index: 10;
  border-top-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 154px;
  left: -16px;
  position: absolute;
  background: transparent;
  height: 55px;
  width: 70px;
  cursor: pointer;
}

#text-me {
  // display: none;
  top: 90px;
}

.text-me-style {
  font-size: 14px;
  font-weight: bold;
  color: #eff;
}

.c1 {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  margin-top: 180px;
   height: 30px;

   left: -5px;
}
.c2 {
  position: absolute;
  -webkit-transform: rotate(-80.1deg);
  margin-top: 170px;
 height: 30px;

 left: -4px;
}
.c3 {
  position: absolute;
  -webkit-transform: rotate(-50.3deg);
  margin-top: 161px;
  height: 30px;

  left: 1px;
}
.c4 {
  position: absolute;
  -webkit-transform: rotate(-15.3deg);
  margin-top: 157px;
  height: 30px;

  left: 6px;
}
.c5 {
  position: absolute;
  -webkit-transform: rotate(-51.45deg);
  margin-top: 157px;
  height: 30px;

  left: 10px;
}

.c6 {
  position: absolute;
  -webkit-transform: rotate(-0deg);
  margin-top: 155px;
  height: 30px;

  left: 20px;
}
.c7 {
  position: absolute;
  -webkit-transform: rotate(-0deg);
  margin-top: 155px;
  height: 30px;

  left: 35px;
}
