// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, main, section, img, div, form, input, h1, textarea,
button, form, a  {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  font-family: lucida;
  text-decoration: none;
}

.group:after {
    content: "";
    display: block;
    clear: both;
}

img {
  display: block;

}

#my-image {
  margin-top: 20px;
  margin-left: 40px;
  // background: #adf;
}

html, body {
  height: 100%;
  position: relative;
}
body {

  background: #abb;
  // background: #ada;
  //  background-image:
  //   linear-gradient(
  //     #abb, #add
  //   );
  color: #444;

}

.group:after {
  content: "";
  display: none;
  clear: both;
}

p {
  font-size: 20px;
}

#face {
  z-index: 1;
  position: absolute;
  height: 150px;
  width: 150px;
  // background: blue;
  right: 100px;
  margin-top: -100px;
  border-radius: 100px;
  background: image-url("me_rainbow6.png") no-repeat center;
}

#social {
  position: absolute;
  height: 160px;
  width: 160px;
  background: #e45;
  // -webkit-box-shadow: 5px 5px 20px #aaa;
  right: 95px;
  margin-top: -105px;
  border-radius: 100px;
  transition: all .2s;
  // background: image-url("me_rainbow6.png") no-repeat center;
}

#face:hover + #social{
  width: 255px;
  right: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
}

#social:hover {
  width: 255px;
  right: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
}

.list {
  position: relative;
  right: 0;
  background: #333;
}


.list-item {
  position: absolute;
  // margin-left: 200px;
  right: 0px;
  width: 70px;
  height: 40px;
  cursor: pointer;
  // background: #fff;
}
.list-item:nth-child(1) {
  right: 20px;
  top: 15px;
  // background: image-url("github.png") no-repeat center;
  width: 70px;
}



.list-item:nth-child(2) {
  right: 20px;
  top: 60px;

  width: 70px;
}

.list-item:nth-child(3) {
  right: 20px;
  top: 105px;

  width: 70px;
}

.list-item > div {
  margin: auto;
  height: 32px;
  width: 32px;
}

.list-item > img  {
  margin: auto;
  transition: all 0.2s;
  border-radius: 4px;
}
.list-item:nth-child(1):hover > img {
  background: #fa0;
}


.list-item:nth-child(2):hover > img {
  background: #880;
}


.list-item:nth-child(3):hover > img {
  background: #8aa;
}

#buffer {
  height: 35px;
}

main {
  margin-top: 100px;
  position: relative;
  margin: auto;
  width: 800px;
  background: transparent;
  height: 100%;
  // overflow-y: scroll;
  // overflow: hidden;
  // display: none;

}

#container-all {
  height: 100%;
  overflow-y: scroll;
}

#nav-header {
  display: block;
  padding-left: 80px;
  font-size: 80px;
  color: #fff;
}

#head-nav {
  transition: .3s;
  position: relative;
  top: -100px;
}

#head-window {
  top: 60px;
  padding-bottom: 20px;
  overflow: hidden;
  height: 80px;
  width: 500px;
}


#all-content {
  background: #fff;

  padding: 30px 80px 40px 80px;
  border-radius: 20px;
  margin-bottom: 300px;
}



#intro {
  // height: 100px;
  padding: 5px;
  // background: red;
  overflow: hidden;
  transition: .3s;
  min-height: 200px;
}

#intro > p {
  // border-top: 1px solid #aaa;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

#about {
  padding: 5px;
  min-height: 200px;
}

#contact {
  padding: 5px;
  min-height: 300px;
}

#title > h1 {
  padding: 10px 10px 40px 40px;
  // font-family: sans-serif;
  font-size: 50px;
  // font-weight: bold;
}

.dev-tag {
  position: relative;
  font-size: 20px;
  top: 85px;
  left: 210px;
  font-weight: bold;
  color: #666;
}

#resume {
  min-height: 100px;
}

#projects {
  // height: 100px;
  padding: 5px;
  // background: blue;
  // overflow: hidden;
  min-height: 300px;
}

.project {
  border-radius: 20px;
  display: block;

  padding-top: 30px;
}

.project-image {
  width: 600px;
  display: block;
  height: 335px;
  margin: auto;
  border-radius: 20px;
  cursor: pointer;
}

video {
  width: 600px;
  display: block;
  height: 335px;
  margin: auto;
  background: #222;
  // border-radius: 20px;
  border: 10px solid #abb;
  cursor: pointer;
}

.live-git {
  position: relative;
  width: 150px;
  margin:auto;
}

div.project a  {
    height: 0;
    padding: 20px;
    display: inline-block;
    color: #e45;
}

#kickstarter-link {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

div.project a:hover  {
    color: #333;
}
.project p {
  margin: auto;
  padding: 20px 20px 40px 20px;
  display: block;

}

#contact > div#large-icon-contact {
  display: block;
  padding: 80px;
  margin-top: 40px;
}

a.large-icon {
  display: block;
  padding: 5px;
  width: 127px;
  height: 127px;
  // margin: 15px;
  transition: all 0.2s;
  border-radius: 100px;
}

a.large-icon:hover{
  background: #e45
}

a.large-icon:nth-child(1) {
  float: left;
  margin-left: 10px;
}

a.large-icon:nth-child(2) {
  float: right;
  margin-right: 10px;
}

a.large-icon:nth-child(3) {
  margin: auto;

}

form {
  margin-top: 40px;
}

.hidden {
  display: none;
}

.no-overflow {
  overflow: hidden;
}

#side-navigation{

}
.side-nav {
  top: 165px;
  position: absolute;
  // top: 2%;
  // left: 10%;
  list-style: none;
  left: -142px;
  color: #e45;
  text-align: right;
}

.side-nav-fixed {
  position: fixed;
  top: 5%;
  left: 142px;
  list-style: none;
  color: #e45;
  text-align: right;
}

.side-nav-li {
  // display: inline-block;
  padding: 15px;
  font-size: 20px;
  transition: .1s;
}

.side-nav-li:hover {
  // font-size: 25px;
  cursor: pointer;
  background: #e45;
  color: #fff;
  border-left-top-radius: 5px;
  border-left-bottom-radius: 5px;
}


#text-window {
  position: absolute;
  right: -270px;
  background: transparent;
  margin-top: 180px;
  height: 600px;
  width: 300px;
}

#text-frame {
  position: relative;
  display: block;
  height: 100%;
  background: transparent;
}

.message-box {
  position: relative;
  display: block;
  border-radius: 20px;
  min-width: 100px;
  max-width: 200px;
  padding: 20px;
  clear: both;
  margin: 10px;
  text-align: center;
  color: #333;
  text-size: 30px;
  z-index: 4;
}

.message-from-box {
  float: left;
  background: #e89;
  -webkit-box-shadow: 10px 10px 10px #777;

}

.message-to-box {
  float: right;
  background: #eff;
  -webkit-box-shadow: 10px 10px 10px #777;
}

.bubble-tail-left {
    position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #eff;
  border-bottom: 10px solid transparent;
  bottom: -28px;
  right: 22px;
}

.bubble-tail-right {
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #e89;
  border-bottom: 10px solid transparent;
  bottom: -28px;
  left: 22px;
}

.text-message-show {
  float: right;
  display: block;
  background: transparent;
  width: 225px;
  height: 45px;
  padding: 3px;
  padding-left: 5px;
  margin: 3px;
  margin-right: -255px;
  margin-top: 121px;
  z-index: 100;
  color: #fff;
  font-size: 25px;
}

.text-message-hide {
  display: none;
}

.text-tab-left {
  z-index: -10;
  border-top-left-radius: 35px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 119px;
  left: -17px;
  position: absolute;
  background: #e45;
  height: 55px;
  width: 75px;
  transition: all .3s;
}

.text-tab-right {
  z-index: -10;
  border-top-right-radius: 10px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 119px;
  left: -17px;
  position: absolute;
  background: #e45;
  height: 55px;
  width: 1090px;
  transition: all .2s;
}



#text-tab-click + #text-tab:hover  {
  background: #e49;
}

#text-tab-click {

  z-index: 10;
  border-top-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  top: 119px;
  left: -16px;
  position: absolute;
  background: transparent;
  height: 55px;
  width: 140px;
  cursor: pointer;
}

#hide-text {
  position: absolute;
  top: 141px;
  left: 27px;
  font-size: 15px;
  color: #e45;
}

#hid-text-mask {
  color:transparent;
  position: absolute;
  top: 141px;
  left: 27px;
  font-size: 15px;
  background-image: linear-gradient(transparent, #fff 95%)
  // background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(0, #fff));
  //       background-image: -webkit-linear-gradient(top, transparent, white);
  //       background-image: -moz-linear-gradient(top, transparent, white);
  //       background-image: -ms-linear-gradient(top, transparent, white);
  //       background-image: -o-linear-gradient(top, transparent, white);
}

.text-message-submit-show {
  float: right;
  display: block;
  background: #e45;
  border: 1px solid #c23;
  border-radius: 10px;
  width: 20px;
  height: 51px;
  padding: 3px;
  padding-left: 5px;
  margin: 3px;
  margin-right: -270px;
  margin-top: 121px;
  cursor: pointer;
}

#send-send-text {

  font-family: 'Lato', sans-serif;
  position: relative;
  font-weight: bold;
  color: #c23;
  font-size: 10px;
}

#send-send-text span {
  position: relative;

}

#send-send-text span:nth-child(n+3) {
  font-size: 9px;
}

#send-send-text span:nth-child(1) {
  font-size: 10.5px;
  left: -0.5px;
}

#send-send-text span:nth-child(2) {
  left: -0.5px;
  top: -2px;

}

#send-send-text span:nth-child(3) {
  left: -0.5px;
  top: -4px;
  font-size: 8.5px;
}

#send-send-text span:nth-child(4) {
  top: -6px;
}
.text-message-submit-hide {
  display: none;
}

#text-me {
  // display: none;
  top: 90px;
}

.text-me-style {
  font-size: 14px;
  font-weight: bold;
  color: #eff;
}

#c7 {
  padding-left: 2px;
}
#c6 {
  // margin-right: 5px;
}

.c1 {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  margin-top: 145px;
  height: 30px;
  transition: .1s;
  left: -5px;
}
.c2 {
  position: absolute;
  -webkit-transform: rotate(-80.1deg);
  margin-top: 135px;
  height: 30px;
  transition: .1s;
  left: -4px;
}
.c3 {
  // display: none;
  position: absolute;
  -webkit-transform: rotate(-50.3deg);
  margin-top: 126px;
  height: 30px;
  transition: .1s;
  left: 1px;
}
.c4 {
  // display: none;
  position: absolute;
  -webkit-transform: rotate(-25.3deg);
  margin-top: 122px;
  height: 25px;
  transition: .1s;
  left: 7px;
}

.c5 {
  // display: none;
  position: absolute;
  // background: red;
  -webkit-transform: rotate(-0deg);
  margin-top: 120px;
  height: 30px;
  transition: .1s;
  left: 18px;
}
.c6 {
  // display: none;
  position: absolute;
  -webkit-transform: rotate(-0deg);
  margin-top: 120px;
  height: 30px;
  transition: .1s;
  left: 27px;
}

.c7 {
  position: absolute;
  margin-top: 120px;
  height: 30px;
  transition: .1s;
  left: 39px;

}
.c8 {
  position: absolute;
  margin-top: 120px;
  height: 30px;
  transition: .1s;
  left: 50px;

}
.c9 {
  position: absolute;
  margin-top: 120px;
  height: 30px;
  transition: .1s;
  left: 63px;

}
.c10 {
  position: absolute;
  margin-top: 120px;
  height: 30px;
  transition: .1s;
  left: 72px;

}
.c11 {
  position: absolute;
  margin-top: 120px;
  height: 30px;
  transition: .1s;
  left: 80px;

}

.c12 {
  position: absolute;
  margin-top: 120px;
  height: 30px;
  transition: .1s;
  left: 93px;

}

.c13 {
  position: absolute;
  margin-top: 120px;
  height: 30px;

  transition: .1s;
  left: 100px;

}

.c14 {
  position: absolute;
  margin-top: 120px;
  height: 30px;
  transition: .1s;
  left: 110px;

}



textarea, input{
  font-size: 20px;
  background: #adf;
  border-radius: 10px;
  padding: 20px;
  margin: 6px 0 6px 0;

  outline: none;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin-bottom: 60px;
}

input {
  margin-right: 4px;
  float: left;
  display: inline-block;
  width: 77%;

}

#submit {
  color: #aaa;
  width:15%;
  float:right;
  cursor: pointer;
}

#submit:hover {
  background: #acf;
}

#return-to-projects {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

#game-canvas {
  display: block;
  overflow: hidden;
  width: 1000px;
  height: 600px;
  border: 5px solid #ddd;
  z-index: 3;
  border-radius: 20px;
}

#game-container > div > figure {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 180px;
  cursor: pointer;
  z-index: 3;
}


#game-container {
  width: 1020px;
  padding-top: 50px;
  position: relative;
  display: block;
  margin: auto;
}



#game-window {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.5);
}

#asteroids {
 // background: image-url("asteroids.png") no-repeat center;
}

#game-container > div > div > p {
  position: relative;
  font-size: 40px;
  color: #ddd;
  left: 80px;
  bottom: -40px;
}

div > div#explanation > p {
  position: relative;
  font-size: 20px;
  color: #ddd;
  left: 40px;
  bottom: 20px;
}



#resume-show {
  display: block;
  overflow: hidden;
  width: 950px;
  height: 800px;
  border: 5px solid #ddd;
  z-index: 3;
  border-radius: 20px;
}

#resume-close {
  font-size: 30px;
  font-weight: bold;
  color: #444;
  position: absolute;
  right: 40px;
  top: 30px;
  cursor: pointer;
  z-index: 3;
}


#resume-container {
  width: 950px;
  padding-top: 10px;
  position: relative;
  display: block;
  margin: auto;
  margin: auto;
}



#resume-window {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.5);
}

.resume-link {
  cursor: pointer;
}

iframe {
  height: 950px;
  width: 1000px;
}

#download-my-resume {
  font-size: 15px;
  color: #444;
  position: absolute;
  left: 40px;
  top: 20px;
  cursor: pointer;
  z-index: 3;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
}
